/*css pour l'identification'*/

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.loginform {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.loginform .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.loginform .form-control:focus {
  z-index: 2;
}

.loginform input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*css pour le chat*/

.chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  overflow-y: scroll;
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0;
}

.chat-message-left {
  margin-right: auto;
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.flex-grow-0 {
  flex-grow: 0 !important;
}
.border-top {
  border-top: 1px solid #dee2e6 !important;
}
.ligne {
  display: inline-block;
}

/*css pour le jeu*/

.canvasLayerList {
  padding-top: -10px;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  margin: 1%;
}

.canvasLayerList .backgroundart {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.canvasLayerList .character {
  margin-left: auto;
  margin-right: auto;
  position:  absolute;
  z-index: 9;
}